// css variable
$primary-color:#272727;
$accent-color:#ff652f;
$text-color:#b7fc73;

//Variable value as object with multiple property
$font-weight:(
    "bold":700,
    "medium":500,
    "regular":400

);