@import "./_resets.scss";  
@import './variables';  

body{
    background : $primary-color;  
    color: $text-color;  
    font-weight: map-get($font-weight, regular);
}


 
 
@function weight($font-weight-value){
    @return map-get($font-weight, $font-weight-value );
    //******* font-weight: weight(regular) *********//
};



@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction
    //  @include flexCenter(row);
}




@mixin  mobile {
    @media (max-width:800px){
        @content;
    }
    /**
    @include mobile{
        flex-direction: column;
    }
    **/
}



@mixin theme($light-theme:true){
    @if $light-theme {
        background: lighten($primary-color,100%);
        color:darken($text-color,100%)
    }
    // @include theme($light-theme: true);
}



.main{
  
    @include flexCenter(row);
    width: 40%;
    margin: 0 auto;
    #{&}_para{
        font-weight: weight(regular);
        &:hover{
            transform: scale(1.1);
            color: $accent-color;
        }
    }

 
    &_para_two{
        font-weight: map-get($font-weight, bold );
        &:hover{
            color: rgb(87, 87, 16);
        }
    }

    &_para_three{   
        @extend .main_para_two
    }

    @include mobile{
        flex-direction: column;
    }
}

.light{
    @include theme($light-theme: true);
}