@import "./_resets.scss"; //import root files
@import './variables'; //import variabl files

body{
    background : $primary-color; // color variable value from file
    color: $text-color; // text color variable value from file

    // map get from variable
    font-weight: map-get($font-weight, regular);
}


 
// Variable value as object with multiple property
@function weight($font-weight-value){

    // returning the font weight value and it's variable
    @return map-get($font-weight, $font-weight-value );

    //******* font-weight: weight(regular) *********//
};


// mixin function :  a function of css with design to inclue
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction
}


// a mixin function to change the background color
@mixin theme($light-theme:true){
    @if $light-theme {
        background: lighten($primary-color,100%);
        color:darken($text-color,100%)
    }
}


// a mixin function to design responsive model
@mixin  mobile {
    @media (max-width:800px){
        @content;
    }
}


.main{
    // @include included the css design here
    @include flexCenter(row);
    width: 40%;
    margin: 0 auto;

    //  # + & indication
    #{&}_para{
        // normal function call
        font-weight: weight(regular);
        &:hover{
            transform: scale(1.1);
            color: $accent-color;
        }
    }

    // & + classname indication
    &_para_two{
         
       
        font-weight: map-get($font-weight, bold );

        // normal & +hover indication
        &:hover{
            color: rgb(87, 87, 16);
        }
    }


    &_para_three{
        // extends another design using extends
        @extend .main_para_two
    }

    @include mobile{
        flex-direction: column;
    }
}


.light{
    @include theme($light-theme: true);
}